<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-update-security-provider" version="1.0.0">
    <name>UpdateSecurityProvider</name>

    <description>An Android Cordova plugin that installs security updates for SSL through Google Play services. Requires something like cordova-plugin-enable-multidex installed.</description>
    <license>MIT</license>

    <keywords>cordova,plugin,android,security,ssl</keywords>
    <repo>https://github.com/newlionlabs/cordova-plugin-update-security-provider.git</repo>
    <issue>https://github.com/newlionlabs/cordova-plugin-update-security-provider/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.6.0"/>
    </engines>
  
    <js-module src="www/updateSecurityProviderPlugin.js" name="UpdateSecurityProvider">
        <clobbers target="cordova.plugins.updateSecurityProvider" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="UpdateSecurityProvider">
                <param name="android-package" value="com.newlionlabs.cordova.plugin.UpdateSecurityProvider"/>
            </feature>
        </config-file>
        <framework src="com.google.android.gms:play-services:9.4.0" />
        <source-file src="src/android/UpdateSecurityProvider.java" target-dir="src/com/newlionlabs/cordova/plugin" />
    </platform>
</plugin>
